# Logistic Regression

https://spark.apache.org/docs/latest/ml-classification-regression.html#logistic-regression


Evaluators will be a very important part of our pipline when working with Machine Learning:

https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.evaluation.BinaryClassificationEvaluator.html#pyspark.ml.evaluation.BinaryClassificationEvaluator.metricName

https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.evaluation.MulticlassClassificationEvaluator.html

In [1]:
path = '/home/danial/Desktop/myspark/Apache-Spark/Python-and-Spark-for-Big-Data-master/Spark_for_Machine_Learning/Logistic_Regression/sample_libsvm_data.txt'

In [1]:
import findspark

In [2]:
findspark.init("/home/danial/spark-3.3.2-bin-hadoop3")

In [3]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('logis').getOrCreate()

23/04/04 11:17:00 WARN Utils: Your hostname, danial-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/04/04 11:17:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/04 11:17:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/04 11:17:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [9]:
data = spark.read.format('libsvm').load(path)

23/04/04 11:19:29 WARN LibSVMFileFormat: 'numFeatures' option not specified, determining the number of features by going though the input. If you know the number in advance, please specify it via 'numFeatures' option to avoid the extra scan.

In [10]:
data.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(692,[127,128,129...|
|  1.0|(692,[158,159,160...|
|  1.0|(692,[124,125,126...|
|  1.0|(692,[152,153,154...|
|  1.0|(692,[151,152,153...|
|  0.0|(692,[129,130,131...|
|  1.0|(692,[158,159,160...|
|  1.0|(692,[99,100,101,...|
|  0.0|(692,[154,155,156...|
|  0.0|(692,[127,128,129...|
|  1.0|(692,[154,155,156...|
|  0.0|(692,[153,154,155...|
|  0.0|(692,[151,152,153...|
|  1.0|(692,[129,130,131...|
|  0.0|(692,[154,155,156...|
|  1.0|(692,[150,151,152...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[152,153,154...|
|  1.0|(692,[97,98,99,12...|
|  1.0|(692,[124,125,126...|
+-----+--------------------+
only showing top 20 rows

In [11]:
data.select('label').distinct().show()

+-----+
|label|
+-----+
|  0.0|
|  1.0|
+-----+

In [12]:
from pyspark.ml.classification import LogisticRegression

In [37]:
train_set, test_set = data.randomSplit([0.7, 0.3])

In [38]:
lg = LogisticRegression()

In [50]:
lg_model = lg.fit(train_set)

In [40]:
log_summary = lg_model.summary

In [41]:
log_summary.predictions.printSchema()

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [42]:
log_summary.predictions.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(692,[98,99,100,1...|[25.1513018780422...|[0.99999999998806...|       0.0|
|  0.0|(692,[121,122,123...|[26.0753841057895...|[0.99999999999526...|       0.0|
|  0.0|(692,[122,123,124...|[20.2151747204161...|[0.99999999833788...|       0.0|
|  0.0|(692,[122,123,148...|[22.3056083865609...|[0.99999999979450...|       0.0|
|  0.0|(692,[123,124,125...|[24.0462456874123...|[0.99999999996395...|       0.0|
|  0.0|(692,[124,125,126...|[33.1079069148920...|[0.99999999999999...|       0.0|
|  0.0|(692,[124,125,126...|[34.1141437492309...|[0.99999999999999...|       0.0|
|  0.0|(692,[124,125,126...|[36.4386030338422...|[0.99999999999999...|       0.0|
|  0.0|(692,[124,125,126...|[22.1688960637801...|[0.99999999976440...|       0.0|
|  0.0|(692,[125,126,127...|[29.6063108984909...|[0.99999999999986...|       0.0|
|  0.0|(692,[126,127,128...|[32.2947820780320...|[0.99999999999999...|       0.0|
|  0.0|(692,[126,127,128...|[20.5614228952192...|[0.99999999882432...|       0.0|
|  0.0|(692,[126,127,128...|[22.1463660729811...|[0.99999999975903...|       0.0|
|  0.0|(692,[126,127,128...|[26.0020921630802...|[0.99999999999490...|       0.0|
|  0.0|(692,[127,128,129...|[20.9660471008558...|[0.99999999921555...|       0.0|
|  0.0|(692,[127,128,129...|[26.3809835658767...|[0.99999999999650...|       0.0|
|  0.0|(692,[150,151,152...|[21.1975025107053...|[0.99999999937764...|       0.0|
|  0.0|(692,[151,152,153...|[33.9776034347491...|[0.99999999999999...|       0.0|
|  0.0|(692,[152,153,154...|[21.3279892869869...|[0.99999999945377...|       0.0|
|  0.0|(692,[152,153,154...|[33.5378538511090...|[0.99999999999999...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [43]:
# Evaluating the model

In [44]:
predictions_and_labels = lg_model.evaluate(test_set)

In [45]:
predictions_and_labels.predictions.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(692,[98,99,100,1...|[25.1513018780422...|[0.99999999998806...|       0.0|
|  0.0|(692,[100,101,102...|[2.22487928435347...|[0.90246153751556...|       0.0|
|  0.0|(692,[121,122,123...|[26.0753841057895...|[0.99999999999526...|       0.0|
|  0.0|(692,[123,124,125...|[36.1540641835322...|[0.99999999999999...|       0.0|
|  0.0|(692,[124,125,126...|[21.0332131007928...|[0.99999999926651...|       0.0|
|  0.0|(692,[124,125,126...|[21.9067180479556...|[0.99999999969378...|       0.0|
|  0.0|(692,[126,127,128...|[16.3898344184417...|[0.99999992379467...|       0.0|
|  0.0|(692,[127,128,129...|[20.9660471008558...|[0.99999999921555...|       0.0|
|  0.0|(692,[127,128,129...|[26.3809835658767...|[0.99999999999650...|       0.0|
|  0.0|(692,[127,128,129...|[22.6986054178073...|[0.99999999986128...|       0.0|
|  0.0|(692,[150,151,152...|[21.1975025107053...|[0.99999999937764...|       0.0|
|  0.0|(692,[152,153,154...|[33.5378538511090...|[0.99999999999999...|       0.0|
|  1.0|(692,[99,100,101,...|[-19.450612468096...|[3.57031335082489...|       1.0|
|  1.0|(692,[124,125,126...|[-20.002424273394...|[2.05616287023511...|       1.0|
|  1.0|(692,[124,125,126...|[-20.342715320638...|[1.46308982043348...|       1.0|
|  1.0|(692,[125,126,127...|[-19.996514824599...|[2.06834963246365...|       1.0|
|  1.0|(692,[125,126,127...|[-19.471578666404...|[3.49623671956100...|       1.0|
|  1.0|(692,[125,126,153...|[-20.498473939733...|[1.25206212989156...|       1.0|
|  1.0|(692,[126,127,128...|[-21.789174833466...|[3.44414640604879...|       1.0|
|  1.0|(692,[126,127,128...|[-21.076932169994...|[7.02109198418946...|       1.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [46]:
from pyspark.ml.evaluation import (BinaryClassificationEvaluator,
                                    MulticlassClassificationEvaluator)

In [47]:
my_eval = BinaryClassificationEvaluator()

In [48]:
# areaUnderROC:

my_final_roc = my_eval.evaluate(predictions_and_labels.predictions)

In [49]:
my_final_roc

1.0

In [6]:
path = '/home/danial/Desktop/myspark/Apache-Spark/Python-and-Spark-for-Big-Data-master/Spark_for_Machine_Learning/Logistic_Regression/titanic.csv'

In [3]:
import findspark
findspark.init('/home/danial/spark-3.3.2-bin-hadoop3')
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('titanic').getOrCreate()

23/04/06 08:30:17 WARN Utils: Your hostname, danial-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/04/06 08:30:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/06 08:30:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
df = spark.read.csv(path, header=True, inferSchema=True)

In [8]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [10]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [13]:
my_columns = df.select(['Survived',
                     'Pclass',
                     'Sex',
                     'Age',
                     'SibSp',
                     'Parch',
                     'Fare',
                     'Embarked'])

In [14]:
my_columns.show()

+--------+------+------+----+-----+-----+-------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|
+--------+------+------+----+-----+-----+-------+--------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|
|       1|     1|female|38.0|    1|    0|71.2833|       C|
|       1|     3|female|26.0|    0|    0|  7.925|       S|
|       1|     1|female|35.0|    1|    0|   53.1|       S|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|
|       0|     3|  male|null|    0|    0| 8.4583|       Q|
|       0|     1|  male|54.0|    0|    0|51.8625|       S|
|       0|     3|  male| 2.0|    3|    1| 21.075|       S|
|       1|     3|female|27.0|    0|    2|11.1333|       S|
|       1|     2|female|14.0|    1|    0|30.0708|       C|
|       1|     3|female| 4.0|    1|    1|   16.7|       S|
|       1|     1|female|58.0|    0|    0|  26.55|       S|
|       0|     3|  male|20.0|    0|    0|   8.05|       S|
|       0|     3|  male|39.0|    1|    5| 31.275|       S|
|       0|     3|female|14.0|    0|    0| 7.8542|       S|
|       1|     2|female|55.0|    0|    0|   16.0|       S|
|       0|     3|  male| 2.0|    4|    1| 29.125|       Q|
|       1|     2|  male|null|    0|    0|   13.0|       S|
|       0|     3|female|31.0|    1|    0|   18.0|       S|
|       1|     3|female|null|    0|    0|  7.225|       C|
+--------+------+------+----+-----+-----+-------+--------+
only showing top 20 rows

In [20]:
my_columns.count()

891

In [21]:
from pyspark.sql.functions import col, sum

missing_counts = my_columns.select([sum(col(c).isNull().cast("int")).alias(c) for c in my_columns.columns])

# Print the missing value counts for each column
missing_counts.show()

+--------+------+---+---+-----+-----+----+--------+
|Survived|Pclass|Sex|Age|SibSp|Parch|Fare|Embarked|
+--------+------+---+---+-----+-----+----+--------+
|       0|     0|  0|177|    0|    0|   0|       2|
+--------+------+---+---+-----+-----+----+--------+

In [32]:
my_final_data = my_columns.na.drop()

In [34]:
my_final_data.select([sum(col(c).isNull().cast('int')).alias(c) for c in my_final_data.columns]).show()

+--------+------+---+---+-----+-----+----+--------+
|Survived|Pclass|Sex|Age|SibSp|Parch|Fare|Embarked|
+--------+------+---+---+-----+-----+----+--------+
|       0|     0|  0|  0|    0|    0|   0|       0|
+--------+------+---+---+-----+-----+----+--------+

In [35]:
my_final_data.count()

712

In [36]:
my_final_data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

In [37]:
my_final_data.show()

+--------+------+------+----+-----+-----+-------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|
+--------+------+------+----+-----+-----+-------+--------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|
|       1|     1|female|38.0|    1|    0|71.2833|       C|
|       1|     3|female|26.0|    0|    0|  7.925|       S|
|       1|     1|female|35.0|    1|    0|   53.1|       S|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|
|       0|     1|  male|54.0|    0|    0|51.8625|       S|
|       0|     3|  male| 2.0|    3|    1| 21.075|       S|
|       1|     3|female|27.0|    0|    2|11.1333|       S|
|       1|     2|female|14.0|    1|    0|30.0708|       C|
|       1|     3|female| 4.0|    1|    1|   16.7|       S|
|       1|     1|female|58.0|    0|    0|  26.55|       S|
|       0|     3|  male|20.0|    0|    0|   8.05|       S|
|       0|     3|  male|39.0|    1|    5| 31.275|       S|
|       0|     3|female|14.0|    0|    0| 7.8542|       S|
|       1|     2|female|55.0|    0|    0|   16.0|       S|
|       0|     3|  male| 2.0|    4|    1| 29.125|       Q|
|       0|     3|female|31.0|    1|    0|   18.0|       S|
|       0|     2|  male|35.0|    0|    0|   26.0|       S|
|       1|     2|  male|34.0|    0|    0|   13.0|       S|
|       1|     3|female|15.0|    0|    0| 8.0292|       Q|
+--------+------+------+----+-----+-----+-------+--------+
only showing top 20 rows

In [48]:
from pyspark.ml.feature import VectorAssembler, StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression

In [45]:
gender_indexer = StringIndexer(inputCol='Sex', outputCol='SexIndex')
gender_encoder = OneHotEncoder(inputCol='SexIndex', outputCol='SexVec')

In [46]:
embark_indexer = StringIndexer(inputCol='Embarked', outputCol='EmbarkedIndex')
embark_encoder = OneHotEncoder(inputCol='EmbarkedIndex', outputCol='EmbarkedVec')

In [47]:
assembler = VectorAssembler(inputCols=['Pclass', 'SexVec', 'Age', 'SibSp',
                                       'Parch', 'Fare', 'EmbarkedVec'], outputCol='features')

In [49]:
log_reg_titanic = LogisticRegression(featuresCol='features', labelCol='Survived')

In [50]:
pipeline = Pipeline(stages =[gender_indexer, embark_indexer,
                             gender_encoder, embark_encoder,
                             assembler, log_reg_titanic
                                                        ])

In [51]:
train_data, test_data = my_final_data.randomSplit([0.7, 0.3])

In [52]:
fit_model = pipeline.fit(train_data)

23/04/06 09:10:15 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
23/04/06 09:10:15 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS

In [53]:
results = fit_model.transform(test_data)

In [54]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [55]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Survived')

In [57]:
results.select('Survived', 'prediction').show()

+--------+----------+
|Survived|prediction|
+--------+----------+
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       0.0|
|       0|       1.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
+--------+----------+
only showing top 20 rows

In [59]:
AUC =  my_eval.evaluate(results)
AUC

0.750515767757147

In [83]:
# consulting project

In [117]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [89]:
path = '/home/danial/Desktop/myspark/Apache-Spark/Python-and-Spark-for-Big-Data-master/Spark_for_Machine_Learning/Logistic_Regression/customer_churn.csv'

In [85]:
spark = SparkSession.builder.appName('churn').getOrCreate()

23/04/06 11:03:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [90]:
df = spark.read.csv(path, inferSchema=True, header=True)

In [95]:
for item in df.head(1)[0]:
    print(item)

Cameron Williams
42.0
11066.8
0
7.22
8.0
2013-08-30 07:00:40
10265 Elizabeth Mission Barkerburgh, AK 89518
Harvey LLC
1

In [92]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [137]:
df.describe().show()

+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+-------------------+
|summary|        Names|              Age|   Total_Purchase|   Account_Manager|            Years|         Num_Sites|            Location|             Company|              Churn|
+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+-------------------+
|  count|          900|              900|              900|               900|              900|               900|                 900|                 900|                900|
|   mean|         null|41.81666666666667|10062.82403333334|0.4811111111111111| 5.27315555555555| 8.587777777777777|                null|                null|0.16666666666666666|
| stddev|         null|6.127560416916251|2408.644531858096|0.4999208935073339|1.274449013194616|1.7648355920350969|                null|                null| 0.3728852122772358|
|    min|   Aaron King|             22.0|            100.0|                 0|              1.0|               3.0|00103 Jeffrey Cre...|     Abbott-Thompson|                  0|
|    max|Zachary Walsh|             65.0|         18026.01|                 1|             9.15|              14.0|Unit 9800 Box 287...|Zuniga, Clark and...|                  1|
+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+-------------------+

In [103]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [105]:
assembler = VectorAssembler(inputCols=['Age',
                                     'Total_Purchase',
                                     'Account_Manager',
                                     'Years',
                                     'Num_Sites'], outputCol='features')

In [106]:
output = assembler.transform(df)

In [110]:
final_data = output.select(['features', 'Churn'])

In [111]:
train_set, test_set = final_data.randomSplit([0.7, 0.3])

In [113]:
churn_model = LogisticRegression(featuresCol='features', labelCol='Churn')

In [114]:
fit_churn_model = churn_model.fit(train_set)

In [115]:
training_sum = fit_churn_model.summary

In [116]:
training_sum.predictions.describe().show()

+-------+-------------------+------------------+
|summary|              Churn|        prediction|
+-------+-------------------+------------------+
|  count|                640|               640|
|   mean|          0.1640625|           0.13125|
| stddev|0.37062193953640665|0.3379376835072885|
|    min|                0.0|               0.0|
|    max|                1.0|               1.0|
+-------+-------------------+------------------+

In [118]:
pred_and_labels = fit_churn_model.evaluate(test_set)

In [119]:
pred_and_labels.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|Churn|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[26.0,8939.61,0.0...|    0|[7.26870181310979...|[0.99930346922922...|       0.0|
|[27.0,8628.8,1.0,...|    0|[6.21372404604448...|[0.99800223018691...|       0.0|
|[28.0,8670.98,0.0...|    0|[8.73798343892361...|[0.99983964874464...|       0.0|
|[29.0,8688.17,1.0...|    1|[3.11746750789190...|[0.95760753984019...|       0.0|
|[29.0,9617.59,0.0...|    0|[5.15066217015933...|[0.99423782923461...|       0.0|
|[29.0,11274.46,1....|    0|[4.93256814806069...|[0.99284361463788...|       0.0|
|[29.0,13255.05,1....|    0|[4.59457385279417...|[0.98999459317993...|       0.0|
|[30.0,10183.98,1....|    0|[3.20828251835852...|[0.96114477611198...|       0.0|
|[30.0,10744.14,1....|    1|[2.21133047293940...|[0.90126238683351...|       0.0|
|[30.0,12788.37,0....|    0|[2.70833467889641...|[0.93751666654633...|       0.0|
|[30.0,13473.35,0....|    0|[2.89147500258324...|[0.94742340334055...|       0.0|
|[31.0,8688.21,0.0...|    0|[7.30814271145329...|[0.99933038828770...|       0.0|
|[31.0,10182.6,1.0...|    0|[5.13934082678591...|[0.99417260535960...|       0.0|
|[32.0,5756.12,0.0...|    0|[4.92627428262226...|[0.99279875664794...|       0.0|
|[32.0,6367.22,1.0...|    0|[2.99613451037849...|[0.95239919109476...|       0.0|
|[32.0,8617.98,1.0...|    1|[1.25885135079856...|[0.77882831084362...|       0.0|
|[32.0,11540.86,0....|    0|[7.32724425978407...|[0.99934304919891...|       0.0|
|[32.0,12547.91,0....|    0|[0.89438299404150...|[0.70979383986255...|       0.0|
|[33.0,7492.9,0.0,...|    0|[5.71352840785280...|[0.99670985609874...|       0.0|
|[33.0,7720.61,1.0...|    0|[1.81252419051595...|[0.85966666887642...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [120]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Churn')

In [121]:
AUC = my_eval.evaluate(pred_and_labels.predictions)
AUC

0.7545219638242894

In [122]:
# predict on new data

In [123]:
final_churn_model = churn_model.fit(final_data)

In [124]:
path_new_data = '/home/danial/Desktop/myspark/Apache-Spark/Python-and-Spark-for-Big-Data-master/Spark_for_Machine_Learning/Logistic_Regression/new_customers.csv'

In [125]:
new_data = spark.read.csv(path_new_data, header=True, inferSchema=True)

In [126]:
new_data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)

In [127]:
test_new_data = assembler.transform(new_data)

In [128]:
test_new_data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- features: vector (nullable = true)

In [129]:
final_results = final_churn_model.transform(test_new_data)

In [138]:
final_results.select('Company', 'prediction').show()

+----------------+----------+
|         Company|prediction|
+----------------+----------+
|        King Ltd|       0.0|
|   Cannon-Benson|       1.0|
|Barron-Robertson|       1.0|
|   Sexton-Golden|       1.0|
|        Wood LLC|       0.0|
|   Parks-Robbins|       1.0|
+----------------+----------+

In [136]:
test_new_data.describe().show()

+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+
|summary|        Names|               Age|   Total_Purchase|   Account_Manager|            Years|         Num_Sites|            Location|         Company|
+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+
|  count|            6|                 6|                6|                 6|                6|                 6|                   6|               6|
|   mean|         null|35.166666666666664|7607.156666666667|0.8333333333333334|6.808333333333334|12.333333333333334|                null|            null|
| stddev|         null| 15.71517313511584|4346.008232825459| 0.408248290463863|3.708737880555414|3.3862466931200785|                null|            null|
|    min|Andrew Mccall|              22.0|            100.0|                 0|              1.0|               8.0|085 Austin Views ...|Barron-Robertson|
|    max| Taylor Young|              65.0|         13147.71|                 1|             10.0|              15.0|Unit 0789 Box 073...|        Wood LLC|
+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+